<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Ikan</title>
</head>
<body>
    <h3>Dashboard Ikan Populer</h3>
    <div class="grid grid-pad">
        <div *ngFor="let ikan of list_ikan" [routerLink]="['/detail', ikan.id_nama_ikan]" class="col-1-4">
            <div class="module ikan">
                <h4>
                    ID {{ikan.id_nama_ikan}} {{ikan.nama_ikan}}
                </h4>
            </div>
        </div>
    </div>
</body>
</html>


















