<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routing App Ikan Component</title>
</head>
<body>
    <h1>{{title}}</h1>
    <!--<my-ikan-routing></my-ikan-routing>-->
    <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/ikan_list">Daftar Ikan</a>
        <a routerLink="/hello-dashboard">Hello Dashboard</a>
        <a routerLink="/dashboard-contoh4">Dashboard Contoh Lagi</a>
    </nav>
    <router-outlet></router-outlet>
</body>
</html>