
.search-result {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 10em;
    height: 20px;
    padding: 1em;
    background-color: white;
    cursor: pointer;
    color: #000;
    font-family: Helvetica, sans-serif;
}


#search-box {
    width: 15em;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #17b76f;
    border-radius: 4px;
    padding: 12px 10px;
}

.h4div {
    color: #454545;
    font-family: Helvetica, sans-serif;
    font-size: 18pt;
    padding-bottom: 0.5em;
}