/*DAFTAR CSS UNTUK DAFTAR IKAN */

.selected {
    background-color: #CFD8DC;
    color: #ff5962;
    font-family: Helvetica, sans-serif;
}

.ikans_class {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
}

.ikans_class li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .9em .9em 0 0;
    padding: .3em 0;
    height: 2.4em;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
}

.ikans_class li.selected:hover {
    background-color: #bbd8dc;
    color: white;
}

.ikans_class li:hover {
    color: #607d8b;
    background-color: #ddd;
    left: .1em;
}

.ikans_class .text {
    position: relative;
    top: 0.2em;
}

.ikans_class .id_badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.2em 0.9em 0 0.7em;
    background-color: #bb4839;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.4em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.div_id_ikan {
    font-family: Helvetica, sans-serif;
    color: #454545;
}

.div_id_ikan_edit {
    font-family: Helvetica, sans-serif;
    color: #454545;
}

.div_nama_ikan_edit {
    font-family: Helvetica, sans-serif;
    color: #454545;
}

.input_id_ikan {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #454545;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #17b76f;
    border-radius: 4px;
}

.input_nama_ikan {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #454545;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #17b76f;
    border-radius: 4px;
}

.tombol_back {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #008CBA;
    border: 0;
    color: white;
    padding: 10px 24px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}


.ikan_pilihan_h2 {
    font-size: small;
    font-family: Helvetica, sans-serif;
}

.label_ikan_tambah {
    font-size: medium;
    font-family: Helvetica, sans-serif;
    color: #454545;
}

.tombol_lihat_detail {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #008CBA;
    border: 0;
    color: white;
    padding: 10px 24px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.tombol_margin_right {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #008CBA;
    border: 0;
    color: white;
    padding: 10px 24px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    float: right;
}

.div_container_ikantambah {
    margin-bottom: 4em;
}



